<h1>— Members of <%= @community.name %> —</h1>

<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>
<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>
<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>
<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>
<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>
<div class="member_block">
	<div class="wrapper_wide clearfix">
		<%= image_tag("sf.png", class: "member_image") %>
		<div class="member_info">
			<p>Sally Sample</p>
		</div>
	</div>	
</div>