<div class="signup_page_background">
  <h1>Join Today and Find Your Community</h1>
</div>

<div class="form_body devise_form_body">
  <h2 class="form_title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field_body">
    <div class="field">
      <%= f.label :firstname, "First Name", class: "label" %><br />
      <%= f.email_field :firstname, autofocus: true, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :lastname, "Last Name", class: "label" %><br />
      <%= f.email_field :lastname, autofocus: true, class: "input" %>
    </div>

    <div class="field">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, class: "input" %>
    </div>

      <div class="field">
        <%= f.label :profile_picture, "Profile Picture", class: "label" %><br />
        <%= f.file_field :profile_picture, autofocus: true, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :banner_image, "Banner Image", class: "label" %><br />
        <%= f.file_field :banner_image, autofocus: true, class: "input" %>
      </div>

      <div class="field">
        <%= f.label :bio, "Bio", class: "label" %> <i>Tell us a bit about yourself!</i><br />
        <%= f.text_field :bio, autofocus: true, class: "input input_field" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign Up", class: "button button_green" %>
      </div>
      <% end %>
    </div>
</div>

<div class="devise_links_form">
  <p>Already have an account? <%= render "devise/shared/links" %></p>
</div>