<div class="banner">
	<div class="wrapper_skinny">
		<div class="outerboxdiv">
			<div class="home_box">
				<h1>Communi.ty</h1>
				<p>A Place To Gather</p>
			</div>
		</div>
		<%= link_to "Explore", root_path, class: "button button_green" %>
		<%= link_to "Sign Up", new_user_registration_path, class: "button button_red" %>
	</div>
</div>
<div class="main_body">
	<div class="wrapper clearfix">
		<div class="content">
			<h1>— Find your community today —</h1>
			<p>Check out our featured communities</p>
		</div>
		<div class="about_us_main clearfix">
			<div class="col-30">
				<%= image_tag("sf.png") %>
			</div>
			<div class="col-30">
				<%= image_tag("dc.png") %>
			</div>
			<div class="col-30">
				<%= image_tag("sea.png") %>
			</div>
		</div>
		<%= link_to "See More Communities", root_path, class: "see_more button_red" %>
	</div>
</div>

<script type="text/javascript">	

	$(function() {
	  	var banner = $('.banner');
	  	var backgrounds = ["url(<%= asset_path('banner.jpg') %>)", "url(<%= asset_path('banner2.jpg') %>)", "url(<%= asset_path('banner3.jpg') %>)"];
		var current = 0;

		var styles = {
	  		'background-repeat': 'no-repeat',
			'background-size': 'cover',
			'background-position': 'center center'
	 	 };

	function nextBackground() {
	  banner.css(
	   'background',
	    backgrounds[current = ++current % backgrounds.length]
	 )
	  banner.css(styles);

	 setTimeout(nextBackground, 7000);
	 }
	 setTimeout(nextBackground, 7000);
	   banner.css('background', backgrounds[0])
	   banner.css(styles);
	 }); 

</script>