<%= form_for ([@community, @neighborhood]) do |f| %>
	<div class="field_body">
		<div class="field">
			<%= f.label :name, "Name", class: "label" %>
			<%= f.text_field :name, class: "input" %>
		</div>
		<div class="field">
			<%= f.label :profile_picture, "Profile Picture", class: "label" %>
			<%= f.file_field :profile_picture, class: "input" %>
		</div>
		<div class="field">
			<%= f.label :banner_image, "Banner Image", class: "label" %>
			<%= f.file_field :banner_image, class: "input" %>
		</div>
		<div class="actions">
			<%= f.submit "Submit", class: "button button_orange" %>
		</div>
	</div>
<% end %>