<div class="community_banner clearfix">
	<div class="wrapper">
		<div class="city_info_left clearfix">
			<div class="row">
				<%= image_tag("pointer.png", class: "pointer_icon") %>
				<h1 class="community_title"><%= @community.name %></h1>
			</div>
			<p>37°52′18″N 122°16′22″W</p>
			<p>200 Members</p>
		</div>
		<div class="city_info_right clearfix">
			<div class="weather_block">
				<%= image_tag('Thermostat.png', class: "weather_icon") %>
				<p>73°F</p>
			</div>
			<div class="weather_block">
				<%= image_tag('sun.png', class: "weather_icon") %>
				<p>Sunny</p>
			</div>
		</div>
	</div>
</div>
<div class="selection_bar">
	<div class="wrapper">
		<li><a class="active" id="neighborhood" href="#">Neighborhood</a></li>
		<li><a id="events" href="#">Events</a></li>
		<li><a id="members" href="#">Members</a></li>
		<li><a id="about" href="#">About</a></li>
		<li><%= link_to "Join", root_path, class: "join_button" %></li>
	</div>
</div>

<div class="wrapper">
	<div class="neighborhood_body community_show_main active">
		<%= render 'communities/partial/neighborhood' %>
	</div>
	<div class="event_body community_show_main">
		<%= render 'communities/partial/event' %>
	</div>
	<div class="member_body community_show_main">
		<%= render 'communities/partial/member' %>
	</div>
	<div class="about_body">
		<%= render 'communities/partial/about' %>
	</div>
</div>

<script>
	
	$('.drop_down ul li.has-children > a').click(function() {
	$(this).parent().siblings().find('ul').fadeOut(300);
	$(this).next('ul').stop(true, false, true).fadeToggle(300);
	return false;
});
</script>